@import "tailwindcss";
@import "tw-animate-css";

:root {
  --base-50: oklch(0.9783 0.0067 295.45);
  --base-100: oklch(0.9674 0.0074 295.04);
  --base-200: oklch(0.9203 0.0094 294.99);
  --base-300: oklch(0.871 0.0107 294.96);
  --base-400: oklch(0.7055 0.0121 294.77);
  --base-500: oklch(0.5526 0.0131 294.66);
  --base-600: oklch(0.4417 0.0127 294.52);
  --base-700: oklch(0.3702 0.0117 294.54);
  --base-800: oklch(0.2735 0.01 294.74);
  --base-900: oklch(0.2095 0.0094 294.61);
  --base-950: oklch(0.1416 0.0087 294.55);
  --base-1000: oklch(0.0972 0.008 294.52);
  --primary-50: oklch(0.9864 0.0227 104.3);
  --primary-100: oklch(0.9713 0.0584 103.13);
  --primary-200: oklch(0.9431 0.1071 103.1);
  --primary-300: oklch(0.903 0.1544 101.8);
  --primary-400: oklch(0.8637 0.1735 100.65);
  --primary-500: oklch(0.7885 0.163 98.92);
  --primary-600: oklch(0.673 0.1425 98.19);
  --primary-700: oklch(0.5486 0.1168 97.1);
  --primary-800: oklch(0.4704 0.097 95.77);
  --primary-900: oklch(0.417 0.0803 93.36);
  --primary-950: oklch(0.283 0.0562 92.92);
  --primary-1000: oklch(0.1957 0.0403 91.91);
  --background: var(--color-white);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-400);
  --primary-foreground: var(--color-black);
  --secondary: var(--base-100);
  --secondary-foreground: var(--base-800);
  --muted: var(--base-50);
  --muted-foreground: var(--base-600);
  --accent: var(--base-50);
  --accent-foreground: var(--base-800);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-400);
  --chart-1: var(--primary-400);
  --chart-2: var(--primary-200);
  --chart-3: var(--primary-400);
  --chart-4: var(--primary-300);
  --chart-5: var(--primary-100);
  --radius: 1rem;
  --sidebar: var(--base-100);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-400);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-200);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-400);
  --cream: var(--primary-50);
}

@theme inline {
  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-cream: var(--cream);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
